/*	Main CSS Document */

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
body {
	padding-top: 50px;
}
.mainBtns .btn {
	color: #563d7c;
	background-color: transparent;
	border-color: #e5e5e5;
	border-radius: 0px;
}
.mainBtns .btn:hover {
	color: #333;
	background-color: rgba(241,241,241,0.66);
}
.currentBtn {
	-moz-box-shadow: inset 0px -5px #2ecc71;
	-webkit-box-shadow: inset 0px -5px #2ecc71;
	box-shadow: inset 0px -5px #2ecc71;
}
.mainBtns {
	padding-left: 0px;
	padding-right: 0px;
}


#map-canvas {
	height: 100%;
	width: 100%;
	z-index: 1;
}
#map-canvas img {
	max-width: none;
}
#map-canvas label {
  width: auto;
  display:inline;
}
.header {
  height: 60px;
  padding-top: 35px;
}
.infoWin {
  overflow: scroll;
  height: 150px;
  max-width: 250px;
}
.lead {
  margin-bottom: 2px;
}
.infoWin hr {
  margin: 0px;
  margin-bottom: 8px;
}
.infoWin p {
  margin-bottom: 2px;
}
.infoImg {
  height: 100px;
  width: 100%;
}


.itemimg {
  height: 150px;
  cursor: pointer;
}
#uploadImage {
	position: absolute; top:-300px;
}
#rightSideRow {
	padding-top: 10px;
}
#title {
  cursor: pointer;
}
#brand {
	color: #2ecc71;
}
#footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 60px;
  background-color: rgba(0,0,0,0.50);
  color: white;
  padding-top: 15px;
  cursor: pointer;
  z-index: 2;
}
#footer:hover {
	color: white;
	background-color: rgba(0,0,0,0.75);
}
.adtEntry {
	margin-bottom: 3px;
}

@media (min-width: 100px) and (max-width: 768px) {
	.itemimg {
		width: 100%;
	}
}